body {
  background-image: url("images/mountains.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 40px;
  max-width: 900px;
  width: 100%;
  justify-content: flex-start;
  transform: scale(0.6);
}

.calendar {
  background: #a0bea6;
  border-radius: 20px;
  padding: 35px;
  width: 650px;
  height: 700px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1),
    inset 0 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: rotateX(8deg);
  transition: all 0.3s ease;
  margin-right: 820px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 2;
  max-width: 80%;
}

.calendar-header {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #000000;
}

.calendar-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  justify-items: center;
  margin-bottom: 3px;
}

.calendar-grid div {
  width: 90px;
  height: 90px;
  background-color: #f3e1e1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  margin: -5px;
  color: #673d5e;
}

.day {
  width: 30px;
  height: 30px;
  background: linear-gradient(180deg, #f3e1e1, #e7c1c1);
  color: #5c2a52;
  border-radius: 42px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: inset -3px -3px 5px rgba(110, 87, 87, 0.6),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.day.checked {
  background: linear-gradient(180deg, #ff7597, #edc7c6);
  color: transparent;
  border: 2px solid #c03568;
  box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.6),
    inset 3px 3px 5px rgba(0, 0, 0, 0.3), 0px 5px 8px rgba(0, 0, 0, 0.3);
}

.day.empty {
  background: rgba(255, 255, 255, 0.3);
  color: transparent;
  pointer-events: none;
}

.day:hover {
  transform: scale(1.1);
  background: linear-gradient(180deg, #ffb6c1, #ff8096);
  transition: 0.3s ease;
  box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.8),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2), 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.counter {
  font-size: 34px;
  font-weight: bold;
  background: rgba(246, 244, 244, 0.8);
  padding: 16px 35px;
  border-radius: 40px;
  position: absolute;
  bottom: 25px;
  right: 35px;
  box-shadow: inset -3px -3px 5px rgba(56, 46, 46, 0.8),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2), 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.notes {
  width: 1200px !important;
  padding: 60px !important;
  background: #cbcaec;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  margin-left: -400px;
  max-width: 90%;
}

#notes-area {
  width: 100% !important;
  height: 200px !important;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.notes h3 {
  font-size: 22px;
  color: #1e1a1a;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.notes-area {
  width: 100%;
  height: 500px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #e0e0e0);
  box-shadow: inset 5px 5px 10px rgba(63, 55, 55, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.7);
  font-size: 20px;
  color: #333;
  resize: none;
  outline: none;
  margin-top: 20px;
  transition: 0.3s ease;
}

.notes-area::placeholder {
  color: #aaa;
  font-style: italic;
}

.notes-area:focus {
  background: linear-gradient(145deg, #fffaf0, #e0d5c3);
  box-shadow: inset 3px 3px 5px rgba(63, 55, 55, 0.3),
    inset -3px -3px 5px rgba(255, 255, 255, 0.6);
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  margin-bottom: 35px;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.weekdays div {
  text-align: center;
  padding: 7px 0;
  background: rgba(255, 255, 255, 0.3);
  color: rgb(9, 8, 8);
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #e3e3e3);
  box-shadow: inset 2px 2px 5px rgba(114, 98, 98, 0.8),
    inset -2px -2px 5px rgba(0, 0, 0, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.day:hover {
  color: transparent;
  transform: scale(1.1);
  background-color: #ffeb3b;
  transition: color 0.3s ease;
}

.rings {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  margin-bottom: 15px;
}

.ring {
  width: 32px;
  height: 75px;
  background: linear-gradient(180deg, #f0f0f0, #b8b8b8, #888, #b8b8b8, #f0f0f0);
  border-radius: 50%;
  position: relative;
  box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.6),
    inset 3px 3px 5px rgba(0, 0, 0, 0.3), 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.ring::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 56px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.7),
    inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.ring::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 24px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.2),
    inset 2px 2px 3px rgba(255, 255, 255, 0.7);
}

.goal-container {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.goal-container label {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: -800px;
}

#goal-input {
  width: 60px;
  padding: 5px;
  margin-left: 5px;
  text-align: center;
  border: 2px solid #ff7597;
  border-radius: 10px;
  font-size: 16px;
}

.goal-indicator {
  width: 100%;
  height: 20px;
  background: #e0e0e0;
  border-radius: 20px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.goal-progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ff7597, #d14578);
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
}

#goal-percentage {
  min-width: 40px;
  text-align: right;
  font-weight: bold;
  display: block;
  text-align: right;
}

.goal-progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.goal-indicator {
  flex: 1;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.goal-progress {
  height: 100%;
  background: linear-gradient(90deg, #ff7597, #d14578);
  width: 0%;
  border-radius: 10px;
  transition: width 0.5s ease;
}

#goal-percentage {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  width: 50px;
  text-align: right;
}

.goal-indicator-container {
  width: 660px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: -390px;
}

#advice-box {
  background: linear-gradient(145deg, #fdf3e4, #fbe0c3);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px rgba(255, 255, 255, 0.6),
    inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto 20px -43%;
  text-align: center;
  width: 850%;
}

#advice-box h2 {
  font-size: 24px;
  color: #8b4513;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#advice-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#advice-list li:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(145deg, #fbe0c3, #f7d1a8);
}

#advice-list li {
  font-size: 18px;
  color: #5a3e1b;
  padding: 12px;
  background: linear-gradient(145deg, #ffffff, #f0e0d6);
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#advice-list li:last-child {
  margin-bottom: 0;
}

.day.checked::after {
  content: "✔️";
  font-size: 24px;
  color: white;
  font-weight: bold;
  position: absolute;
}

.habit-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #f0f0f0;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #f5b5b3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links li a:hover {
  color: #f5b5b3;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}
